
section{ 
    scale: 1;
    transition: 200ms;
    color: whitesmoke;
    margin: 300px auto;
    padding: 100px 100px;
    width: fit-content;
    border-radius: 20px;
    .section-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 40px;
        }
    }
    h1, h2, svg{
        transition: 200ms;
    }
    &:hover{
        scale: 1.01;
        transition: 500ms;
        h1, #title-icon{
            transition: 200ms;
            filter: drop-shadow(10px 10px 4px #4e4eff);
        }
    }
}

@media (max-width: 1000px) {
    section{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 100px 0;
        .section-title{
            h1{
                font-size: 20px;
            }
            svg{
                width: 20px;
                height: 20px;
            }
        }
    }
}