---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import Knowledge from '../components/Knowledge.astro';
import Certificates from '../components/Certificates.astro';
---

<Layout>
	<Nav></Nav>
	<article>
		<Projects></Projects>
		<Knowledge></Knowledge>
		<Certificates></Certificates>
	</article>
</Layout>