<section>
    <div class="sectionTitle">
        <h1>About</h1>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg>
    </div>
    <div class="aboutInformation">
        <p></p>
    </div>

</section>

<style>
    section{
        color: whitesmoke;
        background-color: #222;
        margin: 200px 400px;
        padding: 40px;
        border: 1px solid rgba(245, 245, 245, 0.714);
        border-radius: 20px;
        .sectionTitle{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
</style>