---
import Image from "astro/components/Image.astro";
import Foto from "../images/fotocurriculum.jpg";
---
<nav id="navbar" class="nav transition-all w-full pt-5 pb-5 pr-auto pl-auto bg-transparent flex justify-around top-0 sticky">
    <a class="shadow-blue-700 hover:scale-110 rounded-3xl bg-blue-900 decoration-solid pt-5 pb-5 pr-20 pl-20 text-white text-xl scale-100 transition-all min-w100 w-fit" href="#about">Sobre mí</a>
    <a class="shadow-blue-700 hover:scale-110 rounded-3xl bg-blue-900 decoration-solid pt-5 pb-5 pr-20 pl-20 text-white text-xl scale-100 transition-all min-w100 w-fit" href="#projects">Proyectos</a>
    <a class="shadow-blue-700 hover:scale-110 rounded-3xl bg-blue-900 decoration-solid pt-5 pb-5 pr-20 pl-20 text-white text-xl scale-100 transition-all min-w100 w-fit" href="#knowledge">Conocimientos</a>
    <a class="shadow-blue-700 hover:scale-110 rounded-3xl bg-blue-900 decoration-solid pt-5 pb-5 pr-20 pl-20 text-white text-xl scale-100 transition-all min-w100 w-fit" href="#certificates">Certificados</a>
</nav>
<header class="max-w-5xl mr-auto ml-auto" id="about">
    <div class="w-full flex mt-28 justify-center items-center">
        <Image id="photo" src={Foto} alt="Foto de Luis Villar Roldán" style="width: 300px; height: 300px; border-radius: 500px;"/>
        <div>
            <h2 class="text-amber-500 italic text-left w-auto text-5xl mt-5 mb-14 mr-14 ml-14">Luis Villar Roldán</h2>
            <p class="text-2xl w-auto mt-5 mb-5 mr-14 ml-14">
                <span class="oblique text-slate-400 text-xl">-- Amante del desarrollo web --</span>
                <br>
                <br>
                <span class="text-orange-300 font-extrabold italic">Apasionado de la tecnología</span> desde pequeño, ahora lo convierto en mi profesión. Con una mente <span class="text-orange-300 font-extrabold italic">curiosa y resiliente</span>, 
                siempre estoy listo para <span class="text-orange-300 font-extrabold italic">aprender</span>, proponer soluciones y llevar ideas a la acción.
                Me encanta el <span class="text-orange-300 font-extrabold italic">desarrollo web</span> y la tecnología en general. Disfruto enfrentando <span class="text-orange-300 font-extrabold italic">nuevos desafios</span>,
                creando <span class="text-orange-300 font-extrabold italic">soluciones funcionales</span> y <span class="text-orange-300 font-extrabold italic">aprendiendo constantemente</span>. 
                Valoro el <span class="text-orange-300 font-extrabold italic">trabajo en equipo</span> y la oportunidad de crecer con cada proyecto.

                Siempre estoy abierto a nuevas oportunidades y colaboraciones.
                
            </p>
        </div>
        
    </div>
    <h2 class="text-sky-500 text-5xl mt-14 text-center mb-10">FullStack Developer</h2>
</header>
<div class="pb-20 pt-20 pr-20 pl-20 w-full mt-12 mb-12 ml-auto mr-auto flex wrap justify-around">
    <div>
        <a class="text-white" href="https://www.linkedin.com/in/luis-villar-rold%C3%A1n-28826227a/" target="_blank">
            <div class="contact-target w-fit h-20 ml-10 mb-5 pt-3 pb-3 pr-10 pl-10 flex justify-between items-center bg-blue-900 rounded-2xl transition-all hover:scale-110">
                <svg class="contact-icon pr-2 pl-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="40" height="40" stroke-width="2"> <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path> <path d="M8 11l0 5"></path> <path d="M8 8l0 .01"></path> <path d="M12 16l0 -5"></path> <path d="M16 16v-3a2 2 0 0 0 -4 0"></path> </svg> 
                Luis Villar Roldán
            </div>
        </a>
    </div>
    <div>
        <a class="text-white" href="https://github.com/VRLuis" target="_blank">
            <div class="contact-target w-fit h-20 ml-10 mb-5 pt-3 pb-3 pr-10 pl-10 flex justify-between items-center bg-blue-900 rounded-2xl transition-all hover:scale-110">
                <svg class="contact-icon pr-2 pl-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="40" height="40" stroke-width="2"><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>        
                VRLuis
            </div>
        </a>
    </div>
    <div class="contact-target w-fit h-20 ml-10 mb-5 pt-3 pb-3 pr-10 pl-10 flex justify-between items-center bg-blue-900 rounded-2xl transition-all hover:scale-110 text-white">
        <svg class="contact-icon pr-2 pl-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="40" height="40" stroke-width="2"><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path><path d="M3 7l9 6l9 -6"></path></svg>        
        luisvillarroldan1010@gmail.com
        <svg class="contact-icon ml-5" id="mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"></path><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"></path></svg>
    </div>
    
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const navbar = document.getElementById("navbar");
        
        window.addEventListener("scroll", function () {
            if (window.scrollY > 150) {
                navbar?.classList.add("scrolled");
            } else {
                navbar?.classList.remove("scrolled");
            }
        });
    });

    let mail = document.getElementById("mail");

    mail?.addEventListener("click", function(){
        navigator.clipboard.writeText('luisvillarroldan1010@gmail.com');
        mail.innerHTML = `<svg id="tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"><path d="M5 12l5 5l10 -10"></path></svg>`;
        
        setTimeout(function() {
            mail.innerHTML = `<svg id="mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"></path><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"></path></svg>`
        },1500);
    })
  </script>
  

<style>
    .nav{
        a{
            box-shadow: 0 0 25px #162447;
        }
    }

    .contact-target{
        box-shadow: 0 0 10px #309eff40;
       
    }

    .scrolled{
        transition: 300ms;
        left: 0;
        position: fixed;
        padding: 30px 0;
        background-color: #11113d14;
        width: 100%;
        font-weight: bolder;
        a{
            color: rgba(255, 255, 255, 0.194);
            padding: 20px;
            margin: 0;
        }
        &:hover{
            background-color: #11113da5;
            a{
                color: rgb(244, 255, 255);
            }
        }
    }

    @media (max-width: 1500px){
        .nav{
            width: 100%;
            height: fit-content;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            left: 0;
            padding-top: 20px;
            a{
                font-size: 20px;
                width: fit-content;
                padding: 20px;
                margin: 10px;
                text-align: center;
            }
        }
        .contact-information{
            padding: 0;
        }
        header{
            flex-direction: column;
        }
    }

    @media (max-width: 1000px) {
        #about{
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            #photo{
                scale: 0.8;
                margin-bottom: 0;
            }
            h1{
                margin-top: 0;
            }
            h2{
                font-size: 35px;
            }
            .about-information{
                width: 350px;
                flex-direction: column;
                align-items: center;
                margin-top: 0;
            }
            .about-paragraph{
                width: 350px;
                p{
                    width: 200px;
                    font-size: 11px;
                    text-align: center;
                    margin: 0 auto;
                    #paragraph-title{
                        font-size: 15px;
                    }
                }
            }
        }
        .contact-information{
            width: 100%;
            padding: 80px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                width: 100%;
                margin: 10px 0;
            }
            .contact-target{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                font-size: 10px;
                width: fit-content;
                height: fit-content;
                justify-content: space-around;
                svg{
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
        }
        .nav{
            width: 100%;
            height: fit-content;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            left: 0;
            a{
                font-size: 10px;
                width: fit-content;
                padding: 20px 20px;
                margin: 10px;
                text-align: center;
            }
        }
        .scrolled{
            transition: 300ms;
            margin-top: 10px;
            left: 0;
            top: 0;
            margin-top: 0;
            padding: 10px 0;
            position: fixed;
            background-color: #11113d14;
            font-weight: bolder;
            a{
                margin: 10px;
                font-size: 10px;
                padding: 10px 0;
                color: rgba(255, 255, 255, 0.194);
            }
            &:hover{
                a{
                    color: rgb(244, 255, 255);
                }
                background-color: #11113da5;
            }
        }
    }
</style>
