---
import Image from "astro/components/Image.astro";
import Foto from "../images/fotocurriculum.jpg";
---

<header id="about">
    <div class="about-information">
        <Image id="photo" src={Foto} alt="Foto de Luis Villar Roldán" style="width: 300px; height: 300px; border-radius: 500px;"/>
        <div class="about-paragraph">
            <h2>Luis Villar Roldán</h2>
            <p>
                <span id="paragraph-title">-- Apasionado del desarrollo web --</span>
                <br>
                <br>
                Tengo <span class="highlight">experiencia real</span> en la creación de <span class="highlight">aplicaciones de escritorio</span> 
                y en crear <span class="highlight">scripts básicos</span> para pequeñas tareas.
                Mi objetivo es ofrecer al público webs <span class="highlight">llamativas y sorprendentes</span>.
                Tengo poca experiencia en este mundo, pero siempre estoy <span class="highlight">motivado</span> por obtener más y más conocimientos.
                Me encanta aprender por mi cuenta pero también <span class="highlight">aprender de los demás</span>, juntos siempre es mejor.
            </p>
        </div>
        
    </div>
    <h2>FullStack Developer</h2>
</header>
<div class="contact-information">
    <a href="https://www.linkedin.com/in/luis-villar-rold%C3%A1n-28826227a/" target="_blank">
        <div class="contact-target">
            <svg class="contact-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="40" height="40" stroke-width="2"> <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path> <path d="M8 11l0 5"></path> <path d="M8 8l0 .01"></path> <path d="M12 16l0 -5"></path> <path d="M16 16v-3a2 2 0 0 0 -4 0"></path> </svg> 
            Luis Villar Roldán
        </div>
    </a>
    <a href="https://github.com/VRLuis" target="_blank">
        <div class="contact-target">
            <svg class="contact-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="40" height="40" stroke-width="2"><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>        
            VRLuis
        </div>
    </a>
    <div class="contact-target">
        <svg class="contact-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="40" height="40" stroke-width="2"><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path><path d="M3 7l9 6l9 -6"></path></svg>        
        luisvillarroldan1010@gmail.com
        <svg id="mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"></path><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"></path></svg>
    </div>
    
</div>
<nav id="navbar" class="nav">
    <a href="#about">Sobre mí</a>
    <a href="#projects">Proyectos</a>
    <a href="#knowledge">Conocimientos</a>
    <a href="#certificates">Certificados</a>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const navbar = document.getElementById("navbar");
        
        window.addEventListener("scroll", function () {
            if (window.scrollY > 1000) {
                navbar?.classList.add("scrolled");
            } else {
                navbar?.classList.remove("scrolled");
            }
        });
    });

    let mail = document.getElementById("mail");

    mail?.addEventListener("click", function(){
        navigator.clipboard.writeText('luisvillarroldan1010@gmail.com');
        mail.innerHTML = `<svg id="tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"><path d="M5 12l5 5l10 -10"></path></svg>`;
        
        setTimeout(function() {
            mail.innerHTML = `<svg id="mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"></path><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"></path></svg>`
        },1500);
    })
  </script>
  

<style>
    header{
        padding: 20px 0;
        font-size: 50px;
        justify-content: center;
        text-align: center;
        a{
            text-decoration: none;
            button{
                border: 1px solid whitesmoke;
                color: whitesmoke;
                padding: 20px 100px;
                border-radius: 5px;
                font-size: 40px;
                background-color: rgb(24, 55, 159);
                scale: 1;
                transition: 0.5s;
                cursor: pointer;
                &:hover{
                    scale: 1.2;
                    transition: 0.5s;
                }
            }
        }
        h2{
            font-size: 50px;
            color: rgb(2, 166, 255);
        }
        p{
            font-size: 24px;  
            text-align: left; 
            margin: 20px 50px; 
        }
    }
    .nav{
        transition: 300ms;
        z-index: 1;
        width: 920px;
        margin: 0 auto;
        background-color: transparent;
        display: flex;
        justify-content: space-around;
        top: 0;
        position: sticky;
        a{
            text-decoration: none;
            padding: 20px;
            color: whitesmoke;
            font-size: 20px;
            scale: 1;
            transition: 200ms;
            min-width: 100px;
            width: fit-content;
            margin: 30px;
            &:hover{
                scale: 1.5;
                transition: 200ms;
            }
        }
    }

    .contact-information{
        padding: 80px;
        width: 1000px;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    a{
        text-decoration: none;
        color: whitesmoke;
    }

    .contact-target{
        width: fit-content;
        margin-left: 40px;
        margin-bottom: 20px;
        padding: 10px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 10px #5eb0f740;
        background-color: #3e6adb8f;
        border-radius: 15px;
        transition: 200ms;
        height: fit-content;
        &:hover{
            transition: 200ms;
            scale: 1.1;
        }
        svg{
            padding: 0px 5px;
        }
    }

    #about{
        max-width: 920px;
        margin: 0 auto;
    }

    .about-information{
        width: 920px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            width: 500px;
            font-size: 20px;
        }
        #paragraph-title{
            font-style: oblique;
            color: rgba(245, 245, 245, 0.51);
        }
        h2{
            color: goldenrod;
            font-style: italic;
        }
        .highlight{
            font-weight: bolder;
            color:burlywood;
        }
        .about-paragraph{
            width: 500px;
        }
    }

    .scrolled{
        transition: 300ms;
        position: fixed;
        padding: 30px 50px;
        background-color: #11113d14;
        width: 100%;
        font-weight: bolder;
        a{
            color: rgba(218, 165, 32, 0.194);
            padding: 0px;
            margin: 0;
        }
        &:hover{
            a{
                color: rgb(46, 227, 233);
            }
            background-color: #11113da5;
        }
    }

    @media (max-width: 1500px) {
        #about{
            text-align: center;
            width: fit-content;
            display: flex;
            flex-wrap: wrap;
            h2{
                font-size: 60px;
            }
            .about-information{
                width: 100%;
                flex-direction: column;
                align-items: center;
                margin-top: 0;
                #photo{
                    transform: scale(1.5);
                    margin-top: 100px;
                }
            }
            .about-paragraph{
                margin: 50px 0 0 0;
                width: 100%;
                p{
                    width: 500px;
                    font-size: 30px;
                    text-align: center;
                    #paragraph-title{
                        font-size: 25px;
                    }
                }
            }
        }
        .contact-information{
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .contact-target{
                font-size: 40px;
                margin: 10px;
                svg{
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                }
            }
        }
        .nav{
            margin-top: 100px;
            a{
                text-align: center;
                font-size: 30px;
                padding: 20px 20px;
            }
        }

    }
</style>
